.backBtn {
  all: unset;
  position:fixed;
  top:0;
  left:calc(50% - 360px);
  z-index: 999;
  width:60px;
  height:60px;
  text-align: center;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }
}

.CatDetail {
  .Thumb {
    img {
      width:100%;
    }
  }
  .Info {
    padding:15px;
    line-height:30px;

    .ability {
      .star-ratings {
        line-height:1;
        vertical-align: middle;
      }
    }
  }
}